<launch>
   <arg name="id" default="103" />
   <node name="netcam_stream_$(arg id)" pkg="netcam_stream" type="netcam_stream_node" output="screen">
    <param name="camera_id" value="$(arg id)" />
   </node>
   <node name="image_proc_$(arg id)" pkg="image_proc" type="image_proc" ns="netcam_stream_$(arg id)" output="screen">
   </node>
</launch>