<launch>
	<arg name="launch_user" default="user"/>
	<arg name="launch_pass" default="pass"/>

	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="100" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="101" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="102" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="103" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="104" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="105" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="106" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="107" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="108" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="109" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="110" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="111" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="112" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="113" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="114" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="115" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="116" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="117" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="118" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="119" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="120" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="121" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="122" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="123" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="124" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="125" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="126" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="127" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="128" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="129" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="130" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="131" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="132" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="133" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="134" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="135" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="136" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="137" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="138" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="139" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="140" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="141" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="142" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="143" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="144" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="145" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="146" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="147" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="148" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="149" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="150" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="151" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="152" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="153" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="154" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="155" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="156" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="157" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="158" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="159" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="160" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="161" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="162" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="163" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="164" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>
	<include file="$(find netcam_stream)/launch/netcam.launch"> <arg name="id" value="165" /> <arg name="launch_user" value="$(arg launch_user)" /> <arg name="launch_pass" value="$(arg launch_pass)" /> </include>

</launch>